
/* con 내용 */
#content .content_area{width: 1200px; margin: 150px auto; overflow: hidden;}

.content_area{border-top: 2px solid #333; }
#view_title{background: #f7f7f7}
#view_title1{padding: 23px 0 20px 20px ; font-size: 27px; font-weight: 500;}

#view_title2{padding: 0 0 23px 20px; overflow: hidden; border-bottom: 1px solid #bbb;}
#view_title2 div{ font-size: 20px; color: #555;}
#view_title2 .people{float: left; font-size: 27px; border: 1px solid #ccc; border-radius: 50%; padding: 3px 10px 7px 12px; margin-right: 15px;}
#view_title2 .nick_date{float: left;}
#view_title2 .nick_date div{font-size: 16px;}
#view_title2 .eye{float: right; margin: 20px 20px 0 0;}
#view_title2 .eye i{padding-right: 8px;}

#view_content{padding: 40px 20px; font-size: 18px; text-align: justify; line-height: 2em;  border-bottom: 1px solid #bbb; }
#view_content .img_box{text-align: center;}

#view_button{overflow: hidden;margin: 50px 0;}
.btn{float: right; color: #fff; padding: 10px 0; background: #444; width: 110px; display: inline-block; margin-left: 7px; border: none;
    outline: none; cursor: pointer; text-align: center;}
.modify_btn{background: #3e4c97;}
.cancel_btn{background: #999;}

#ripple{padding-top: 30px;}
#ripple>span{font-size: 25px; font-weight: 500; padding-bottom: 25px; display: block;}

.writer_ul{overflow: hidden;}
.writer_ul li{margin-right: 15px;}
.writer_ul #writer_title1{float: left; font-size: 19px; font-weight: 500;}
#writer_title1>.fas{ font-size: 24px; padding-right: 5px;}
.writer_ul #writer_title2{float: left; font-size: 14px; color: #555; padding-top: 4.5px;}
.writer_ul #writer_title3{float: left; font-size: 15px; color: #555; padding-top: 3px;}
.writer_ul #writer_title3:hover a{color: #ea5206;}
#ripple_content{margin: 10px 35px 35px; line-height: 1.7; }



.ripple_form{border-bottom: 1px solid #bbb;}
#ripple_box{padding-bottom: 30px;}
#ripple_box textarea{width: 1150px; height: 60px; outline: none; border: 1px solid #999; padding: 50px 20px 20px 20px; font-family: 'Noto Sans KR', sans-serif; font-size: 16px; line-height: 1.7; color: #444;}
#ripple_box2{position: relative;}
#ripple_box2 .nick{display: block; position: absolute; top: 0; letter-spacing: 0; padding: 15px 0 10px 20px; background: #fff; width: 1150px;
    border: 1px solid #999; border-bottom: 0; border-right: 0;}
#ripple_box2 .nick i{padding-right: 9px; font-size: 22px;}
#ripple_box3 a{display: block; width: 80px; background: #ccc; padding: 7px 0; margin-top: 25px; text-align: center;}