
/* con 내용 */
#content .content_area{width: 1200px; margin: 150px auto; overflow: hidden;}
.span{font-size: 30px; font-weight: 500; padding: 0 0 30px 18px; display: block; position: relative;}
.span::before{content: ''; background: #ea5206; width: 6px; height: 33px; position: absolute; top: 8px; left: 0;}
.content_area form{border-top: 2px solid #333; }

.col1{font-size: 20px; width: 200px; color: #444; padding-left: 20px;}

#write_row1{overflow: hidden;  border-bottom: 1px solid #ccc; background: #f5f5f5;}
#write_row1 div{float: left; }
#write_row1 .col1{ padding: 35px 0 0 20px;}
#write_row1 .col2{font-size: 22px;  padding: 30px 0;}
#write_row1 .col3{ padding: 35px 0 0 50px;}


#write_row2{overflow: hidden;  border-bottom: 1px solid #ccc; padding: 25px 0;}
#write_row2 div{float: left;}
#write_row2 .col1{font-size: 20px; padding-top: 7px;}
#write_row2 .col2 input{width: 940px; outline: none; border: 1px solid #ccc; font-size: 19px; padding: 10px 15px; font-size: 21px;
    font-family: 'Noto Sans KR', sans-serif;}

#write_row3{overflow: hidden; margin-bottom: 30px; border-bottom: 1px solid #999; padding: 35px 0;}
#write_row3 div{float: left;}
#write_row3 textarea{border: 1px solid #ccc; width: 940px; outline: none;  padding: 10px 15px 0; font-size: 18px;
    height: 300px; font-family: 'Noto Sans KR', sans-serif; text-align: justify;}

#write_button{font-size: 18px; padding: 10px 0; text-align: center; }
#write_button .ok_btn{color: #fff; padding: 13.6px 0; background: #3e4c97; width: 200px; display: inline-block; margin-left: 5px; border: none;
    font-weight: 600; outline: none; font-size: 20px; cursor: pointer;}
#write_button .ok_btn:hover{opacity: .9;}
#write_button .list_btn{color: #fff; padding: 13px 0; background: #444; width: 200px; display: inline-block; font-size: 20px;}
#write_button .list_btn:hover{opacity: .9;}