body{font-family: 'Noto Sans KR', sans-serif;}

/* sub1 공통 영역 - visual sub_menu title_area */

/* visual 영역 */
.visual{position: relative; width: 2000px; left: 50%; margin-left: -1000px;}


/* sub_menu영역 */
.sub_menu{width: 100%; background: #5360a2;}
.sub_inner{width: 1200px; margin: 0 auto;}
.sub_menu .visual_text{position: absolute; top: 240px; left: 50%; margin-left: -86px; text-align: center;
    color: #fff; }
.sub_menu h3{font-weight: 300; font-size: 2.6em;}
.sub_menu p{font-weight: 200; font-size: 1em; margin-top: 10px; text-transform: uppercase; opacity: .7;}

.sub_menu ul{overflow: hidden;}
.sub_menu li{float: left; width: 33.333%; text-align: center; font-size: 1.1em; background: #5360a2;}
.sub_menu li:hover{color: #3e4c97; }
.sub_menu li a{display: block; padding: 15px 0; color: #fff;}
.sub_menu .current a{color: #3e4c97; font-weight: 500;  background: #f8f8f8; transition: all .3s ease-out;}
.sub_menu li a:hover{color: #3e4c97; font-weight: 500;  background: #f8f8f8; transition: all .3s ease-out;}


/* content영역 */


/* content - title_area */
.title_area{width: 100%; background: #f8f8f8; border-bottom: 2px solid #ccc;}
.title_inner{width: 1200px; margin: 0 auto; position: relative;}
#content .title_area .line_map{font-weight: 300; font-size: .8em; position: absolute; top: 50px; left: 50px;}
#content .title_area h2{font-size: 3em; font-weight: 500; text-align: center; padding: 120px 0 134px; }




